/* .sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
} */
.form-inline label {
  display: inline;
  padding-right: 5px;
}

h1 {
  text-align: center;
  --typography-spacing-vertical: 2rem;
}

.errorlist * {
  color: #c62828;
}

a.contrast:hover {
  background-color: rgba(115, 130, 140, 0.25);
}

.disclaimer * {
  color: hsl(205, 10%, 50%);
}

.full-nav {
  display: none;
}

.side-nav {
  display: flex;
}

.arrow-button {
  max-height: 50%;
  width: 100%;
  text-align: center;
  margin: 15% 0 0 0;
  padding: 0;
}

.arrow-col {
  margin-right: 0;
  padding: 1rem 1% 0 4%;
}

@media only screen and (min-width: 768px) {
  .full-nav {
    display: flex;
  }

  .side-nav {
    display: none;
  }
}

.g-recaptcha {
  overflow: hidden;
  width: 298px;
  height: 74px;
  margin-bottom: 1em;
}
iframe {
  margin: -1px 0px 0px -2px;
}
