/* .sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
} */

.form-inline label {
  display: inline;
  padding-right: 5px;
}

h1 {
  text-align: center;
  --typography-spacing-vertical: 2rem;
}

.errorlist * {
  color: #c62828;
}
