{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/pico/pico.min.css" %}">
        <title>Door2Door</title>
        <!--      <link rel="stylesheet" href="{% static 'css/styles.css' %}" />-->
    </head>
    <body>

        {% block navbar %}
            <nav class="container-fluid">
                <ul>
                    <li>
                        <a href="{% url 'index' %}" class="contrast"><strong>Door2Door</strong></a>
                    </li>
                </ul>
            </nav>
        {% endblock %}

        <main class="container">
            {% block container %}
                {% block content %}
                {% endblock %}
            {% endblock %}
        </main>
    </body>
</html>
