{% extends "base.html" %}
{% load static %}

{% block navbar %}

    <nav class="container-fluid">
        <ul>
            <li>
                <a href="{% url 'index' %}" class="contrast"><strong>Door2Door</strong></a>
            </li>
        </ul>
        <ul>
            <li>
                <details role="list" dir="rtl">
                    <summary aria-haspopup="listbox" role="link" class="contrast">Hi {{ user.get_username }}! </summary>
                    <ul role="listbox">
                        <li><a href="{% url 'address-info' %}">Address Lookup</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'logout' %}?next={{ request.path }}">Log out</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block container %}

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

{% endblock %}
