{% extends "base.html" %}
{% load static %}

{% block navbar %}

    <nav class="container-fluid">
        <ul>
            <li>
                <a href="{% url 'dashboard:index' %}" class="contrast"><strong>Door2Door</strong></a>
            </li>
        </ul>
        <ul>
            <li>
                <details role="list" dir="rtl">
                    <summary aria-haspopup="listbox" role="link" class="contrast">Hi {{ user.get_username }}! </summary>
                    <ul role="listbox">
                        <li><a href="{% url 'logout' %}?next={{ request.path }}">Log out</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block container %}

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

{% endblock %}




<!--
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    {% block sidebar %}
                        <ul class="sidebar-nav">

                            {% if user.is_authenticated %}
                                <li>User: <b>{{ user.get_username }}</b></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                            {% endif %}
                            <li><a href="">All books</a></li>
                            <li><a href="">All authors</a></li>
                        </ul>
                    {% endblock %}
                </div>
                <div class="col-sm-10 ">}</div>
            </div>
        </div>
    </body>
</html>
-->
