{% extends "logged_in_base.html" %}
{%load static%}

{% block content %}

    <button type="button" value="UP" onClick="up()" > Up </button>
    <button type="button" value="DOWN" onClick="down()" > Down </button>
    <h1>Address information</h1>
    <form role="group" action="{%url 'search' %}" method="post">
        {% csrf_token %}
        <div>
            {{ search_form.house_number.errors }}
            {{ search_form.house_number.label_tag }} {{ search_form.house_number }}
        </div>
        <div>
            {{ search_form.street_name.errors }}
            {{ search_form.street_name.label_tag }} {{ search_form.street_name }}
        </div>
        <div>
            <input type="submit" name="search" value="Search">
        </div>
    </form>
    <hr>

    {%if address%}
        {%if landlords%}
            <h1>{{address}}</h1>
            <b>Landlords:</b>
            <ul>
                {% for landlord in landlords %}
                    <li>{{ landlord }}</li>
                {% endfor %}
            </ul>
        {%else%}
            <h2> No landlords found for {{address}} :'( </h2>
            <p> That's not bad news though! If you didn't make a mistake inputing the address and you are sure this is a residential building, that just means that by law, either the landlord or their immediate family HAS TO live in this building. </p>
        {%endif%}


        <form action="{%url 'submit-visit-info' house_number=house_number street_name=street_name %}" method="post">
            {% csrf_token %}
            {% comment %} {{ current_visit_form.non_field_errors }}
            {{ current_visit_form.knocked.errors }}
            <label for="id_visit-knocked">
                <input type="checkbox" name="visit-knocked" id="id_visit-knocked">
                Knocked
            </label>
            {{ current_visit_form.door_opened.errors }}
            <label for="id_visit-door_opened">
                <input type="checkbox" name="visit-door_opened" id="id_visit-door_opened">
                Door opened
            </label>
            {{ current_visit_form.owners_available.errors }}
            <label for="id_visit-owners_available">
                <input type="checkbox" name="visit-owners_available" id="id_visit-owners_available" {%if current_visit_form.owners_available%} checked {%endif%}>
                Owners available
            </label>

            {{current_visit_form.notes}}
            {{current_visit_form.nycdb_building_id}} {% endcomment %}
            <b> Visit: </b>
            <table>
                {{current_visit_form.as_table}}
            </table>
            <input type="submit" name="save" value="Save">
        </form>
    {%else%}
        <h2> Enter an address </h2>
    {%endif%}

    {%if past_visits%}
        <h2> Past Visits  </h2>
        <ul>
            {%for visit in past_visits%}
                <li> <b> {{visit.date_of_visit}} </b>
                    {%if visit.knocked %} <mark>K</mark>{%endif%}
                    {%if visit.door_opened %} <mark>D</mark>{%endif%}
                    {%if visit.owners_available %} <mark>O</mark>{%endif%}
                    <br>
                    {{visit.notes}}</li>
            {%endfor%}
        </ul>
    {%endif%}
    <script src="{% static 'js/buttons.js' %}"></script>

{% endblock %}
