{% extends "dashboard/logged_in_base.html" %}
{% load static %}

{% block content %}

    {% with email='<script language="JavaScript" type="text/javascript">        var part1 = "door2door";        var part2 = Math.pow(2,6);        var part3 = String.fromCharCode(part2);        var part4 = "ratchek.com";        var part5 = part1 + String.fromCharCode(part2) + part4;        document.write("<a href=" + "mai" + "lto" + ":"        + part5 + ">" + part1 + part3 + part4 + "</a>");        </script>' %}
        {% comment %}
The above script basically composes my email address in the browser so that it doesn't get scraped
Here is a newlined version (the with tag doesn't allow for new lines i think)
        '<script language="JavaScript" type="text/javascript">
        var part1 = "door2door";
        var part2 = Math.pow(2,6);
        var part3 = String.fromCharCode(part2);
        var part4 = "ratchek.com";
        var part5 = part1 + String.fromCharCode(part2) + part4;
        document.write("<a href=" + "mai" + "lto" + ":"
        + part5 + ">" + part1 + part3 + part4 + "</a>");
        </script>'
        {% endcomment %}

        <h1>FAQ</h1>

        <details>
            <summary> Something's not working with the address lookup</summary>
            <p> Make sure to check for typos. Make sure <i>Street</i>, <i>Avenue</i>, <i>Drive</i>, <i>Lane</i>, etc. are spelled out. Abbreviations will not work!</p>
        </details>

        <details>
            <summary> The information for past addresses isn't being saved!</summary>
            <p> Make sure you click the 'SAVE' button at the bottom of the page before you search for a new address!</p>
        </details>

        <details>
            <summary>How do the arrow buttons work and what are they for?</summary>
            <p> Their main use is so that you can move to the next/previous house without typing in the number again. They will add/subtract 2 to the current house number. If the house number is "weird", they will add/subtract 2 to the last number. So for example <i>31-28N</i> will become <i>31-30N</i>. You still need to press the "Search" button.</p>
        </details>

        <details>
            <summary> What do the lettered tags next to each past visit mean?</summary>
            <p>They're just a shorthand for the information you put in during that visit.</p>
            <ul>
                <li><mark>K</mark>nocked</li>
                <li><mark>D</mark>oor Opened</li>
                <li><mark>O</mark>wners Available</li>
                <li><mark>X</mark> - Owners not interested in selling</li>
            </ul>
        </details>

        <details>
            <summary> Do the owners appear in any order?</summary>
            <p> Nope! </p>
        </details>

        <details>
            <summary> Why do some addresses not have owner info?</summary>
            <p> This tool is used only for residential properties.
                Furthermore, NYC does not require landlords to register if the property has 1-2 residential units
                and the owner or their immediate family lives there.
                In either of those cases, the owner will not show up in the database.</p>
        </details>

        <details>
            <summary> Are there any plans to expand this tool to work for addresses outside of NYC?</summary>
            <p> Unfortunately not. The app works by using the NYC Open Data and the owner search funtionality would not work withouot this. </p>
        </details>

        <details>
            <summary> How do I get in touch?</summary>
            <p>You can email me at {{email}}. </p>
        </details>

    {% endwith %}

{% endblock %}
