{% extends "dashboard/base.html" %}
{% load static %}

{% block navbar %}

    <nav class="container-fluid">

        <ul class = "side-nav">
            <li>
                <details role="list">
                    <summary aria-haspopup="listbox" role="link" class="contrast"><strong>Door2Door</strong> </summary>
                    <ul role="listbox">
                        <li><a href="{% url 'address-info'%}" class="contrast" >Address Lookup</a></li>
                        <li><a href="{% url 'about' %}" class="contrast">About</a></li>
                        <li><a href="{% url 'faq' %}" class="contrast">FAQ</a></li>
                    </ul>
                </details>
            </li>
        </ul>
        <ul class="full-nav">
            <li>
                <a href="{% url 'index' %}" class="contrast"><strong>Door2Door</strong></a>
            </li>
            <li><a href="{% url 'address-info'%}" class="contrast" >Address Lookup</a></li>
            <li><a href="{% url 'about' %}" class="contrast">About</a></li>
            <li><a href="{% url 'faq' %}" class="contrast">FAQ</a></li>
        </ul>
        <ul>
            <li>
                <details role="list" dir="rtl">
                    <summary aria-haspopup="listbox" role="link" class="contrast">Hi {{ user.get_username }}! </summary>
                    <ul role="listbox">
                        <li><a href="{% url 'account_email' %}">Change email</a></li>
                        <li><a href="{% url 'account_change_password' %}">Change password</a></li>
                        <li><a href="{% url 'account_logout' %}?next={{ request.path }}">Log out</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block container %}

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

{% endblock %}
